.add-option-error{
    color: $off-white;
    font-style: italic;
    font-size: $m-size;
    margin: $m-size;
    padding: 0 $m-size;
}

.add-option-form{
    display: flex;
    flex-direction: column;
    padding: $m-size;
}

.add-option-input{
    background: grey;
    border: none;
    color: $off-white;
    font-size: 2rem;
    border-bottom: .3rem solid darken(grey, 10%);
    flex-grow: 1;
    margin: 0 0 $s-size 0;
    // margin-right: $s-size;
    padding: $s-size;
}

@media (min-width: $desktop-breakpoint) {
    .add-option-form { 
        flex-direction: row;
    }
    .add-option-input {
        margin: 0 $s-size 0 0;
    }
}